In [1]:
# below gathered from 'LocalSQLConnection'

import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

### Q10: 
Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [5]:
from sqlalchemy import create_engine
import pandas as pd

conn = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
df_q10 = pd.read_sql_query("SELECT * FROM (SELECT name, SUM(CASE WHEN memid = 0 THEN slots * guestcost ELSE slots * membercost END) AS revenue FROM Bookings AS b LEFT JOIN Facilities AS f ON b.facid = f.facid GROUP BY name) AS revenue_data WHERE revenue < 1000 ORDER BY revenue", conn)

print(df_q10)

            name  revenue
0   Table Tennis      180
1  Snooker Table      240
2     Pool Table      270

### Q11: 

Produce a report of members and who recommended them in alphabetic surname,firstname order

In [18]:
from sqlalchemy import create_engine
import pandas as pd

conn = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
df_q11 = pd.read_sql_query(""" SELECT m1.surname || ', ' || m1.firstname AS member, m2.surname || ', ' || m2.firstname AS recommendby FROM Members AS m1 LEFT JOIN Members AS m2 ON m1.memid = m2.recommendedby WHERE m2.recommendedby IS NOT NULL ORDER BY member """, conn)

print(df_q11)

                member               recommendby
0      Bader, Florence         Sarwin, Ramnaresh
1       Baker, Timothy              Coplin, Joan
2      Butters, Gerald          Genting, Matthew
3      Farrell, Jemima            Baker, Timothy
4      Farrell, Jemima             Pinker, David
5     Genting, Matthew         Rumney, Henrietta
6         Jones, David            Jones, Douglas
7     Joplette, Janice               Dare, Nancy
8     Joplette, Janice              Jones, David
9   Purview, Millicent                Hunt, John
10         Rownam, Tim               Boothe, Tim
11       Smith, Darren          Joplette, Janice
12       Smith, Darren           Butters, Gerald
13       Smith, Darren             Owen, Charles
14       Smith, Darren               Smith, Jack
15       Smith, Darren           Mackenzie, Anna
16        Smith, Tracy  Worthington-Smyth, Henry
17        Smith, Tracy        Purview, Millicent
18        Smith, Tracy            Crumpet, Erica
19    Stibbons, Ponder               Baker, Anne
20    Stibbons, Ponder           Bader, Florence
21       Tracy, Burton          Stibbons, Ponder

### Q12: 
Find the facilities with their usage by member, but not guests

In [21]:
from sqlalchemy import create_engine
import pandas as pd

conn = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
df_q12 = pd.read_sql_query("SELECT name, SUM(slots) AS usageperfacility FROM Facilities INNER JOIN Bookings USING (facid) WHERE memid <> 0 GROUP BY facid", conn)

print(df_q12)

              name  usageperfacility
0   Tennis Court 1               957
1   Tennis Court 2               882
2  Badminton Court              1086
3     Table Tennis               794
4   Massage Room 1               884
5   Massage Room 2                54
6     Squash Court               418
7    Snooker Table               860
8       Pool Table               856

### Q13: 
Find the facilities usage by month, but not guests

In [26]:
from sqlalchemy import create_engine
import pandas as pd

conn = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
df_q13 = pd.read_sql_query("SELECT name, SUM(slots) AS usageperfacility, STRFTIME('%m', starttime) AS month FROM Facilities INNER JOIN Bookings USING (facid) WHERE memid <> 0 GROUP BY month, facid", conn)

print(df_q13)

               name  usageperfacility month
0    Tennis Court 1               201    07
1    Tennis Court 2               123    07
2   Badminton Court               165    07
3      Table Tennis                98    07
4    Massage Room 1               166    07
5    Massage Room 2                 8    07
6      Squash Court                50    07
7     Snooker Table               140    07
8        Pool Table               110    07
9    Tennis Court 1               339    08
10   Tennis Court 2               345    08
11  Badminton Court               414    08
12     Table Tennis               296    08
13   Massage Room 1               316    08
14   Massage Room 2                18    08
15     Squash Court               184    08
16    Snooker Table               316    08
17       Pool Table               303    08
18   Tennis Court 1               417    09
19   Tennis Court 2               414    09
20  Badminton Court               507    09
21     Table Tennis               400    09
22   Massage Room 1               402    09
23   Massage Room 2                28    09
24     Squash Court               184    09
25    Snooker Table               404    09
26       Pool Table               443    09